{
	"token": "",
	"devGuildId": "",
	"totalshards": 2,
	"activityResetTimeout_SECONDS": 15,
	"dmTimeout_MINUTES": 15,
	"botPerms": [
		"SEND_MESSAGES",
		"EMBED_LINKS",
		"READ_MESSAGE_HISTORY"
	],
	"version": "3.2.0",
	"supportedLanguages": [
		["en", "english", "english"],
		["sp","spanish", "espanol"],
		["fr","french","Français"],
		["cn", "chinese", "中文"]
	],
	"langlist": [
		" - 🇬🇧 English (en)",
		" - 🇪🇸 Español (sp)",
		" - 🇫🇷 Français (fr)",
		" - 🇨🇳 中文 (cn)"
	]
}
