

@media only screen and (orientation : landscape) { 
  .mobilewaves {
    display: none !important;
    
  }
  .desktopwaves {
    width: 100vw !important;
  }

  .scrollicon {
    height:20vh;
    margin-top:12vh;
  }
}

@media only screen and (orientation : portrait) { 
  /* PHONE */
  .desktopwaves {
    display: none !important; 
  }
  .mobilewaves {
    width: 100vw !important;
  }
  .scrollicon {
    height:12vh;
    margin-top:3vh;
  }
  
}
